.main-container {
    max-width: 1260px;
    margin: auto;
}

.toolbar-container {
    max-width: 1260px;
    display: flex;
    width: 100%;
    margin: auto;
}

.mat-toolbar.mat-primary {
    background: #005163;
    color: #fff;
}