
<app-grid [template]="gridTemplate">
    <ng-template #gridTemplate>
        <div class="grid-item" #dynamicTemplate *ngFor="let property of properties">
            <app-property [property]="property">
            </app-property>
        </div>

    </ng-template>
</app-grid>
<mat-paginator  [length]="paginationSort.pageDetail.totalElements"
[pageSize]="20"
[showFirstLastButtons]="true"
[pageSizeOptions]="[5, 10, 20]"
[pageIndex]="paginationSort.pageDetail.page"
(page)="handlePageEvent($event)">
</mat-paginator>
